* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: rgb(204, 52, 52);
}

img {
   width: 100%;
   height: auto;
}

a {
   text-decoration: none;
   color: black;
}

li {
   list-style-type: none;
}

.container {
   max-width: 80%;
   margin: auto;
}

.text-input {
   padding: 10px 20px;
   min-width: 300px;
   border-radius: 10px;
   border-width: 1px;
   margin-right: 20px;
}

.btn {
   padding: 10px 20px;
   border-radius: 10px;
   border-width: 1px;
   cursor: pointer;
}



.logo img {
   width: 250px;
   height: auto;
   display: block;
   margin: 10px auto;
   
}



.new-todo {
   text-align: center;
   padding: 20px;
}


.todos-container {
   background-color: #F5F7F7;
   border-radius: 10px;
   padding: 35px;
}

.todos-list li {
   border-bottom: 1px solid lightgrey;
   font-size: 20px;
   padding: 10px;
}

.delete {
   float: right;
   cursor: pointer;
}